---
layout: default
---
{% if page.author_url != "" and page.author_url != nil %}
  <h1><a href="{{ page.author_url }}">{{ post.name }}</a></h1>
{% else %}
   <h1>{{ page.name }}</h1>
{% endif %}


{{ content }}



{% assign filtered_videos = site.videos | where: 'author', page.short_name %} 
{% assign video_size = filtered_videos | size %} <!--check if there is any video-->
{% if filtered_videos > 0 %} 
   <ul>
      <h2>Videos</h2>
      {% for video in filtered_videos %}
        <li><a href="{{ video.url }}">{{ video.title }}</a></li>
      {% endfor %}
   </ul>
{% endif %}



